@import "homepagenavbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.content {
  background-color: $gray;

  &_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;

    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }

    &_left {
      width: 100%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }
    }

    &_left h1 {
      font-size: 4rem;
      color: $red;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &_left h2 {
      font-size: 4rem;
      color: $dark;

      @include mobile {
        font-size: 2rem;
      }
    }

    &_left p {
      font-size: 2rem;
      color: $dark;
      margin-top: 1rem;
      font-weight: 700;

      @include mobile {
        font-size: 1.5rem;
      }
    }

    &_btn {
      font-size: 1rem;
      background-color: $red;
      padding: 14px 32px;
      border: none;
      border-radius: 4px;
      color: $gray;
      margin-top: 2rem;
      cursor: pointer;
      position: relative;
      transition: all 0.3s;
      outline: none;
    }

    &_btn a {
      position: relative;
      z-index: 2;
      color: $gray;
      text-decoration: none;
    }

    &_btn:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $bluebtn;
      transition: all 0.3s;
      border-radius: 4px;
    }

    &_btn:hover:after {
      width: 100%;
    }

    &_right {
      text-align: center;
    }

    &_img {
      height: 100%;
      width: 100%;
    }
  }
}

body {
  .totalusage {
    table {
      font-family: arial, sans-serif;
      border: 1px solid black;
      width: 100%;
      margin-top: 260px;
      margin-bottom: -240px;
      background-color: lightgray;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
      background-color: lightgray;
    }
  }
  .form-container {
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
  }

  .title {
    border: {
      top: 4px solid black;
      bottom: 4px solid black;
    }
    padding: 25px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;

    .subtitle {
      font-size: 18px;
      color: rgba(0, 0, 0, 1.5);
    }
  }
}
